.anticon-plus {
  font-size: 18px;
  background-color: #1890ff;
  color: #fff;
  border-radius: 100%;
  padding: 10px 10px;
}

.ant-upload-text {
  padding-top: 10px;
  font-size: 12px;
  color: #C0C4CC;
  letter-spacing: 0;
}

.ant-upload.ant-upload-select-picture-card>.ant-upload {
  padding: 4px;
}

.ant-upload.ant-upload-select-picture-card {
  width: 120px;
  height: 120px;
}

.ant-upload-list-picture-card-container,
.ant-upload-list-picture-card .ant-upload-list-item{
  width: 120px;
  height: 120px;
}

.fileTips {
  margin-left: 10px;
  color: #C0C4CC;
  letter-spacing: 0;
  font-size: 12px;
}

.ant-upload-list-text {
  display: none;
}

.file-list {
  margin-top: 10px;
  width: 600px;
  min-height: 160px;
  border: 1px solid #DCDFE6;
  border-radius: 4px;
  border-radius: 4px;

  ul {
    list-style: none;

    li {
      float: left;
    }
  }

  .titleName {
    width: 250px;
  }

  .uploadState {
    width: 200px;
    display: flex;
  }

  .operate {
    width: 100px;
    display: flex;
    justify-content: center;
  }

  .file-item-wrapper {
    height: 115px;
    overflow-y: auto;
  }

  .file-item {
    padding-left: 15px;
    display: flex;
    margin-bottom: 20px;
  }
}

.input-textarea {
  resize: none;
  box-sizing: border-box;
  width: 600px;
}

.form-wrapper {
  margin-top: 16px;

  .ant-form-item {
    margin-bottom: 32px;
  }

  .img-upload {
    margin-bottom: 12px;
  }

  .file-upload-btn {
    margin-bottom: 0;
  }
}

.title-name-item {
  width: 276px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.operate-enclosure-download {
  border-right: 1px solid #ccc;
  margin-right: 7px;
  padding-right: 7px;
}

.success {
  margin-right: 4px;
}
.error {
  margin-right: 4px;
}

.title-name-item-icon {
  margin-right: 4px;
}

.title-name-item-text {
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-list-wrapper {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.operate-enclosure{
  cursor: pointer;
}

.operate-enclosure-delete:hover,
.operate-enclosure-download:hover{
 opacity: 0.8;
}