@fontColor: #303133;

.delete {
  &-wrapper {
    margin-top: 2px;
    margin-left: 36px;
  }

  &-top {
    margin-bottom: 16px;
    font-size: 14px;
    color: @fontColor;
    font-weight: bold;
  }

  &-second {
    margin-left: 24px;
    color: @fontColor;
    margin-bottom: 16px;
  }

  &-icon {
    color: #faa64b;
    margin-right: 6px;
  }
}

.ask-endorsement{
  position: fixed;
  right: 5%;
  bottom: 10%;
  cursor: pointer;
  background: url(../../assets/svg/ask-default.webp) no-repeat;
  width: 150px;
  height: 150px;
}

.ask-endorsement:hover{
  background: url(../../assets/svg/ask-hover.webp) no-repeat;
}